* {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;}
    #nav, #feature, .article, #footer {
    background-color: #efefef;
    font-size: 25px;
    margin-top: 20px;
    
    padding: 20px 0px 10px 0px;}
    #feature, .article {
    height: 100px;}


    li {
    display: inline;
    display: inline-flex;
    
    padding: 50px;}


    li:hover{
        color: red;
    }


    #feature>a{
        text-decoration: none;
        font-size: 40px;
        color: red;
    }



    #feature>a:hover{
        color: blue;
    }

    #feature>a>b{
        color: green;
    }


    li>a{
        text-decoration: none;
        color: blue;
    }



    div>ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }


    @media screen and (min-width: 480px) {
        body {
          background-image: url(images/img3.jpeg);
        }

          ul{
              display:none;
          }

        }
      